<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>d9V6LV4YqNkTocTu1v1fiU7DAxd6ownGw4TDm2jE/96MH/avY8yZ58rt/OTHNut+TO2TJXoda6zLtu2KPL0tciq2df1bj9tl9GM9kx42vyd6kmvJQrbJjqfuBulTHztSQKSPYxi3bA7A71yxFO36Zm6fj/4miRg2NPq4xfMA4xWvYnJ7Em9R55n5Db5ifZ3uR4BOYMQdig8ambdIryGyC0r6D//y6BT/24DAYSIEmTZxHn3AmOxkq61NH5SAo/bXIxrXY2SIOmWc6RZcofwyTsSpKrHzR4TA/S3M3vRFcx6grYX7595V5NlsUpg8+HRB47Gro++hfSDTNVk2pK8WlA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Wvt/1SzRFmexRv5X2nNGUarGaWs9Sly2p5Vl2Ogkj2XG8de4H9nrr5+u9pzJrQ+Y</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>